@use '../utils/mixins' as *;

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--space-6);

  @include on-tablet {
    padding-block: var(--space-8);
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    width: 100%;
    max-width: 152px;
    height: 16px;

    img {
      width: 100%;
    }

    @include on-tablet {
      max-width: 228px;
      height: 24px;
    }

    @include hover(transform, scale(1.1));
  }

  &__icons {
    display: flex;
    gap: var(--space-6);
  }
}
